{{template "header" .}}

<div class="flex items-center justify-center h-screen">
  <div class="bg-white p-6 rounded-lg shadow-md w-96">
    <h2 class="text-2xl font-bold mb-4">FAQ Page</h2>
    <ul class="list-disc pl-4 space-y-2">
      {{range .}}
      {{template "qa" .}}
      {{
        end
      }}
    </ul>
  </div>
</div>
{{template "footer" .}}

{{define "qa"}}
<li class="mb-2">
  <b>{{.Question}}</b> {{.Answer}}
</li>
{{ end }}
